{% extends 'base.html'%} {% block title %}
<title>movie/movie-series details</title>{% endblock %} {% block style %}
<link rel="stylesheet" href="{{url_for('static'
    , filename = './details.css')}}"> {% endblock %} {% block content %}
<main>
    <section class="little-info">
        <div id="username" style="display: none;">
            {{current_user.username}}
        </div>
        <div class="thriller">
            <video src="#" controls="controls">
            </video>
        </div>
        <div class="movie-info">

            <h1 class="title" id="main-title">{{movie.title}}</h1>
            <div class="rating">
                {% set rank = (movie.vote_average|float/1.7)|round|int %} {% if rank > 5%} {% set rank = 5%} {% endif %} {% for i in range((rank)) %}
                <i class="fas fa-star star"></i> {% endfor %} {% for i in range((5 - rank))%}
                <i class="fas fa-star"></i> {% endfor %}

            </div>
            <div class="ave">
                <p>Average of {{movie.vote_count}} ratings</p>

                <h3> {{(movie.vote_average|float/1.7)|round(1)}} <i class="fas fa-bar-chart"></i></h3>
            </div>
            <div class="ge">
                <p>Genres</p>
                <div class="genre">
                    {% set list1 = movie.genres.split(',') %} {% for each in range(list1|length) %} {% set gen = list1[each]|replace("'","")|replace("[","")|replace("]","")|replace(" ","") %}
                    <a class="inline-link" href="{{url_for('blog.genre'+'_'+viewtype, genre = gen)}}"><span>{{gen}}</span></a> {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="main-info">
        <div class="detailed-info">
            <p>
                {{movie.overview}}
            </p>
        </div>
        <div class="other-info">
            <h4 class="date-info">{{movie.release_date[:4]}}</h4>
            <!-- <span> movie.duration}}</span> -->
            <h5> Languages</h5>
            {% set diction = {'en':'English','es':'Espanol'}%}
            <span> {{diction[movie.original_language]}}</span>
            <h5>Directors</h5>
            <span>{{movie.director}}</span>
            <h5>Cast</h5>
            {% set list1 = movie.cast.split(',')%} {% for each in range(list1|length)%}
            <span> {{list1[each]|replace("[","")|replace("'","")|replace("]","")}}</span> {% endfor %}
        </div>
    </section>
    <section class="recom">
        {% if viewtype == "movie" %}
        <h3>Similar Movies</h3>
        {%else%}
        <h3>Similar Tv Series</h3>
        {%endif%}

        <div class="content-main">

            <div class="content-wrap">
                {% for result in result%}
                <a href="{{url_for('blog.details'+'_'+ viewtype ,id = result.id)}}" class="cover-link">
                    <div class="results">
                        <img src="{{url_for('static', filename ='./images/black-panther-web.jpg')}}" alt="poster">
                        <div class="info" id="js-info">
                            <div class="info-wrap">
                                <div class="title"><a style="font-family: inherit;" id="js-title" class="inline-link js-grab" href="{{url_for('blog.details'+'_'+viewtype, id = result.id)}}" id="ind-title">{{result.title}}</a>
                                </div>
                                <div class="num-rate">
                                    <i style="color: #1e90ff; font-size: 0.7rem;" class="fas fa-star"></i>
                                    <span>{{(result.vote_average|float/1.7)|round}}</span>
                                </div>
                                <div class="date">
                                    {{result.release_date[:4]}}
                                </div>
                                <div class="genre">
                                    {% set list1 = result.genres.split(',') %} {% for each in range(list1|length) %} {% set gen = list1[each]|replace("'","")|replace("[","")|replace("]","")|replace(" ","") %}
                                    <a class="inline-link" href="{{url_for('blog.genre'+'_'+viewtype, genre = gen)}}"><span>{{gen}}</span></a> {% endfor %}
                                </div>
                                <div class="inline-rating js-rating">
                                    {% set rank = (result.vote_average|float/1.7)|round|int %} {% if rank > 5%} {% set rank =5%} {% endif %} {% for i in range((rank)) %}
                                    <i class="fas fa-star star"></i> {% endfor %} {% for i in range((5- rank))%}
                                    <i class="fas fa-star"></i> {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %} {% block script%} {% if current_user.is_authenticated%}
<script src="{{url_for('static', filename = './js/detail-rating.js')}}"></script>
<script src="{{url_for('static', filename = './js/rate.js')}}"></script>
{% endif %}
<script src="{{url_for('static', filename = './js/adjust.js')}}"></script>{% endblock %}