{% extends 'base.html'%} {% block title%}
<title>
    Lukuo Privacy Policy
</title>
{% endblock %} {%block style %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'policy.css')}}"> {% endblock %} {% block content%}
<main>
    <section>
        <h1>Privacy Policy</h1>
        <br>
        <p>At lukuo, accessible from <a href="#">www.lukuo.com</a>, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by lukuo and how we use it.
        </p>

        <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.
        </p>

        <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in lukuo. This policy is not applicable to any information collected offline or
            via channels other than this website.</p>
        <br>
        <h2>Consent</h2>
        <br>
        <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
        <br>
        <h2>Collection of personal information</h2>
        <br>
        <p>
            You can visit the website without telling us who you are or revealing any informtion by which someone could identify you as a specific, identiable individual. if, however, you wish to use some of the website features, you will be asked to provide certain
            personal information(for example, your name and email address). We will recieve and store any information you knowingly provide to us when you fill any online forms on the website. You can choose not to provide us with your Personal information,
            but then you may not be able to take advantage of some of the website features. User who are uncertain about what information is mandatory are welcome to contact us.
        </p>
        <br>
        <h2>Information we collect</h2>
        <br>
        <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
        <p>We may also collect information about your Ip address, not for storage but to give a better experience.</p>
        <p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.
        </p>
        <p>When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.</p>
        <br>
        <h2>How we use your information</h2>
        <br>
        <p>We use the information we collect in various ways, including to:</p>
        <br>
        <ul>
            <li>Provide, operate, and maintain our webste</li>
            <li>Improve, personalize, and expand our website</li>
            <li>Understand and analyze how you use our website</li>
            <li>Develop new products, services, features, and functionality</li>
            <li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes
            </li>
            <li>Send you emails</li>
            <li>Find and prevent fraud</li>
        </ul>
        <br>
        <h2>Information transfer and storage</h2>
        <br>
        <p>
            Depending on your location, data transfers may involve transfering and storing your information in a country other than your own. You are entitled to learn about the legal basis of information transfers to a country outside the European Union or to any
            international organization governed by public international law or set up by two or more countries, such as the UN, and about the security measures taken by us to safeguard your information. If any such transfer takes place, you can find out
            more by checking the relevant sections of this document or inquire with us using the information provided in the contact section.
        </p>
        <br>
        <h2>Cookies and Web Beacons</h2>
        <br>
        <p>Like any other website, lukuo uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience
            by customizing our web page content based on visitors' browser type and/or other information.
        </p>
        <p>For more general information on cookies, please read <a href="https://www.cookieconsent.com/what-are-cookies/">"What
                Are Cookies" from Cookie Consent</a>.</p>


        <br>
        <h2>Advertising Partners Privacy Policies</h2>
        <br>
        <P>You may consult this list to find the Privacy Policy for each of the advertising partners of lukuo.</p>

        <p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on lukuo, which are sent directly to users' browser. They automatically receive
            your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.
        </p>

        <p>Note that lukuo has no access to or control over these cookies that are used by third-party advertisers.</p>
        <br>
        <h2>Third Party Privacy Policies</h2>
        <br>
        <p>lukuo's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions
            about how to opt-out of certain options. </p>

        <p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.
        </p>
        <br>
        <h2>CCPA Privacy Rights (Do Not Sell My Personal Information)</h2>
        <br>
        <p>Under the CCPA, among other rights, California consumers have the right to:</p>
        <p>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</p>
        <p>Request that a business delete any personal data about the consumer that a business has collected.</p>
        <p>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</p>
        <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>
        <br>
        <h2>GDPR Data Protection Rights</h2>
        <br>
        <p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
        </p>
        <p>The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</p>
        <p>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.
        </p>
        <p>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.
        </p>
        <p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
        <p>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>
        <p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
        <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>
        <br>
        <h2>Children's Information</h2>
        <br>
        <p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>
        <br>
        <p>lukuo does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we
            will do our best efforts to promptly remove such information from our records.</p>
        <br>
        <h1>Do not track signals</h1>
        <br>
        <p>
            Our Website does not track its visitors over time and across third party websites. However, some third party sites may keep track of your browsing activities when they serve you content, which enables them to tailor what they present to you.
        </p>
        <br>
        <h2>
            Information security
        </h2>
        <br>
        <p>
            We secure information you provide on computer servers in a controlled, secure environment, protected from unauthorized access, use, or disclosure. We maintain reasonable administrative, technical, and physical safeguards to protect against unauthorized
            access, use, modification, and disclosure of Personal Information in its control and custody. However, no data transmission over the Internet or wireless network can be guaranteed. Therefore, while we strive to protect your Personal Information,
            you acknowledge that (i) there are security and privacy limitations of the Internet which are beyond our control; (ii) the security, integrity, and privacy of any information and data exchanged between you and our Website cannot be guaranteed;
            and (iii) any such information and data may be viewed or tampered with in transit by a third-party, despite best efforts.
        </p>
        <br>
        <h2>Data breach</h2>
        <br>
        <p>
            In the event we become aware that the security of the Website has been compromised or users Personal Information has been disclosed to unrelated third parties as a result of external activity, including, but not limited to, security attacks or fraud,
            we reserve the right to take reasonably appropriate measures, including, but not limited to, investigation and reporting, as well as notification to and cooperation with law enforcement authorities. In the event of a data breach, we will make
            reasonable efforts to notify affected individuals if we believe that there is a reasonable risk of harm to the user due to the breach or if notice is otherwise required by law. When we do, we will post a notice on the Website, send you an
            email.
        </p>
        <br>
        <h2>Legal disclosure</h2>
        <br>
        <p>
            We will disclose any information we collect, use or receive if required or permitted by law, such as to comply with a subpoena or similar legal process, and when we believe in good faith that disclosure is necessary to protect our rights, protect your
            safety or the safety of others, investigate fraud, or respond to a government request.
        </p>
        <br>
        <h2>Changes and amendments</h2>
        <br>
        <p>
            We may update this Privacy Policy from time to time at our discretion and will notify you of any material changes to how we treat Personal Information. When changes are made, we will post a notification on the main page of our Website. We may also provide
            notice to you in other ways at our discretion, such as through the contact information you have provided. Any updated version of this Privacy Policy will be effective immediately upon the posting of the revised Privacy Policy unless otherwise
            specified. Your continued use of the Website or Services after the effective date of the revised Privacy Policy (or such other act specified at that time) will constitute your consent to those changes. However, we will not, without your consent,
            use your Personal Data in a manner materially different than what was stated at the time your Personal Data was collected. The policy was created with WebsitePolicies.
        </p>
    </section>
</main>
{% endblock %}