main {
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    margin-bottom: 6rem;
}

.all-title {
    align-self: center;
    min-height: 50px;
    background-color: #fff;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    border-bottom: 2px solid #1e90ff;
}

.result {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.cover-link {
    text-decoration: none;
    color: initial;
}

.inline-link {
    text-decoration: none;
    color: initial;
}

.inline-link:hover {
    text-decoration: underline;
    color: #fff;
}

.title-link {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.title-link:hover {
    color: #1e90ff;
}

.results:hover {
    box-shadow: 4px 5px 5px #808080;
}

.results {
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    margin-right: 5px;
    position: relative;
    overflow: hidden;
    margin-top: 45px;
    border-radius: 3px;
    box-shadow: 1px 3px 4px #808080;
}

.results img {
    width: 170px;
    height: 300px;
    display: block;
}

.info {
    width: 170px;
    height: 200px;
    display: inline-flex;
    flex-flow: column nowrap;
    position: absolute;
    background-color: #fff;
    bottom: -145px;
    left: 0px;
    padding: 7px;
}

#hover {
    display: none;
}

.info:hover,
#hover:checked~.info {
    bottom: -25px;
}

.info .title {
    margin-top: 5px;
    font-weight: bold;
    font-size: 0.9rem;
}

.info .date {
    margin-top: 5px;
}

.info .genre {
    margin-top: 5px;
    width: 85%;
}

.genre span {
    margin-top: 2px;
    padding: 2px;
    background-color: #1e90ff;
    color: #fff;
    border-radius: 2px;
}

.rating {
    margin-top: 5px;
    width: 85%;
    display: inline-flex;
    justify-content: space-evenly;
}

.query {
    margin-top: 5vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.query a {
    margin-left: 10px;
    text-decoration: none;
    padding: 6px 20px;
    border: 1px solid rgba(128, 128, 128, 0.6);
    border-radius: 4px;
    background-color: #fff;
    color: #d35113;
}

.query a:hover {
    background-color: #4ca2f8;
    color: #fff;
}

@media screen and (min-width:900px) {
    main {
        padding: 10px 80px;
    }
}