main {
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    margin-bottom: 6rem;
}

.all-title {
    align-self: center;
    min-height: 50px;
    background-color: #fff;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    border-bottom: 2px solid #1e90ff;
}

.result {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.cover-link {
    text-decoration: none;
    color: initial;
}

.inline-link {
    text-decoration: none;
    color: initial;
}

.inline-link:hover {
    text-decoration: underline;
    color: #fff;
}

.title-link {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.title-link:hover {
    color: #1e90ff;
}

.results:hover {
    box-shadow: 4px 5px 5px #808080;
}

.results {
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    margin-right: 5px;
    position: relative;
    overflow: hidden;
    margin-top: 45px;
    border-radius: 3px;
    box-shadow: 1px 3px 4px #808080;
}

.results img {
    width: 170px;
    height: 300px;
    display: block;
}

.info {
    width: 170px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    bottom: -148px;
    left: 0px;
    padding-left: 6px;
}

.info-wrap {
    margin-top: -10px;
    height: 95%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.num-rate {
    display: inline-flex;
    align-items: center;
}

.num-rate span {
    margin-left: 10px;
    font-size: 0.9rem;
}

.num-rate .fa-star {
    transform: translateY(-1px);
}

#hover {
    display: none;
}

.info:hover,
#hover:checked~.info {
    bottom: 0px;
}

.info:hover .num-rate,
#hover:checked~.info-wrap .num-rate {
    display: none;
}

.info-wrap .title {
    font-size: 0.8rem;
}

.music-info-wrap {
    margin-top: 0;
}

.music-info {
    bottom: -140px;
}

.toggle {
    bottom: -137px;
}

.info-wrap .genre {
    width: 85%;
    height: 30%;
    display: flex;
    flex-flow: column wrap;
}

.genre span {
    margin-top: 4px;
    padding: 2px;
    background-color: #1e90ff;
    color: #fff;
    border-radius: 2px;
    font-size: 0.8rem;
}

.rating {
    width: 85%;
    display: inline-flex;
    justify-content: space-evenly;
}

.query {
    margin-top: 5vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.query a {
    margin-left: 10px;
    text-decoration: none;
    padding: 6px 20px;
    border: 1px solid rgba(128, 128, 128, 0.6);
    border-radius: 4px;
    background-color: #fff;
    color: #d35113;
}

.query a:hover {
    background-color: #4ca2f8;
    color: #fff;
}

@media screen and (min-width:900px) {
    main {
        padding: 10px 80px;
    }
}