main {
    padding: 10px;
}

.little-info {
    display: flex;
    flex-flow: column nowrap;
    background-color: #fff;
}

.thriller {
    width: 100%;
}

.thriller video {
    display: block;
    width: 100%;
}

.movie-info {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    padding: 30px 15px;
}

.movie-info h1 {
    align-self: center;
    text-align: center;
    margin: 10px 0px;
}

.rating {
    align-self: center;
    margin: 10px 0px;
}

.movie-info p {
    margin: 5px 0px;
    color: #d35113;
}

.movie-info h3 {
    margin: 5px 0px;
}

.main-info {
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem 1rem;
}

.other-info {
    display: inline-flex;
    flex-flow: column wrap;
    height: 148px;
    padding: 15px 0px;
}

.other-info h4 {
    color: #656565;
    margin-top: 5px;
}

.other-info h5 {
    margin-top: 5px;
    color: #d35113;
}

.other-info span {
    color: #1e90ff;
    margin-top: 5px;
}

.result {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.cover-link {
    text-decoration: none;
    color: initial;
}

.inline-link {
    text-decoration: none;
    color: initial;
}

.inline-link:hover {
    text-decoration: underline;
}

.results:hover {
    box-shadow: 1px 3px 4px #808080;
}

.results {
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    margin-right: 5px;
    position: relative;
    overflow: hidden;
    margin-top: 12px;
    border-radius: 3px;
}

.results img {
    width: 145px;
    height: 300px;
    display: block;
}

.info {
    width: 170px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    bottom: -148px;
    left: 0px;
    padding-left: 6px;
}

.info-wrap {
    margin-top: -10px;
    height: 95%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.num-rate {
    display: inline-flex;
    align-items: center;
}

.num-rate span {
    margin-left: 10px;
    font-size: 0.9rem;
}

.num-rate .fa-star {
    transform: translateY(-1px);
}

#hover {
    display: none;
}

.info:hover,
#hover:checked~.info {
    bottom: 0px;
}

.info:hover .num-rate,
#hover:checked~.info-wrap .num-rate {
    display: none;
}

.info-wrap .title {
    font-size: 0.8rem;
}

.music-info-wrap {
    margin-top: 0;
}

.music-info {
    bottom: -140px;
}

.info-wrap .genre {
    width: 85%;
    height: 30%;
    display: flex;
    flex-flow: column wrap;
}

.genre span {
    margin-top: 4px;
    padding: 2px;
    background-color: #1e90ff;
    color: #fff;
    border-radius: 2px;
    font-size: 0.8rem;
}

.toggle {
    bottom: -137px;
}

.inline-rating {
    width: 85%;
    display: inline-flex;
    justify-content: space-evenly;
}

.home {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 15px;
}

.content {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 15px;
}

.content-title a {
    color: #656565;
}

.content-title a:hover,
.content-title a:active {
    color: #d35113;
}

.content-main {
    width: 100%;
    height: 335px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.content-wrap {
    width: 1520px;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
}

.detailed-info {
    font-size: 1.2rem;
}

.recom {
    margin: 40px 8px;
}

@media screen and (min-width:700px) {
    .detailed-info {
        font-size: 1.5rem;
    }
    .other-info {
        font-size: 1.3rem;
        height: 190px;
    }
}

@media screen and (min-width:1000px) {
    main {
        padding: 2rem 10rem;
    }
    .little-info {
        flex-flow: row nowrap;
        height: 45vh;
    }
    .thriller {
        width: 40%;
        align-self: center;
        margin: 0 15px;
    }
    .thriller video {
        height: 30vh;
    }
    .movie-info {
        width: 60%;
        align-self: center;
    }
    .movie-info h1,
    .rating {
        align-self: flex-start;
    }
    /* .rating {
        grid-column: 1/2;
        grid-row: 2;
        margin: 0px 0px;
    }
    .ave {
        grid-row: 3;
        grid-column: 1/2;
    }
    .ge {
        grid-row: 3;
        grid-column: 2/3;
    } 
     .main-info {
        flex-flow: row nowrap;
    }
    .detailed-info {
        width: 50%;
        font-size: 1.5rem;
    }
    .other-info {
        padding-left: 40px;
    } */
}


/* @media screen and (min-width:1000px) {
    main {
        padding: 2rem 10rem;
    }
    .thriller video {
        display: block;
        width: 100%;
    }
} */