main {
    padding: 10px;
}

.little-info {
    display: flex;
    flex-flow: column nowrap;
    background-color: #fff;
}

.thriller {
    width: 100%;
}

.thriller video {
    display: block;
    width: 100%;
}

.movie-info {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    padding: 15px;
}

.movie-info h1 {
    width: 100%;
    margin: 10px 0px;
}

.rating {
    width: 50%;
    margin: 10px 0px;
}

.movie-info p {
    margin: 5px 0px;
    color: #d35113;
}

.movie-info h3 {
    margin: 5px 0px;
}

.main-info {
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem 0;
}

.other-info {
    display: inline-flex;
    flex-flow: column;
    padding: 10px 0px;
}

.other-info h4 {
    color: #656565;
    margin-bottom: 5px;
}

.other-info h5 {
    margin-bottom: 5px;
    color: #d35113;
}

.other-info span {
    color: #1e90ff;
    margin-bottom: 5px;
}

.result {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.cover-link {
    text-decoration: none;
    color: initial;
}

.inline-link {
    text-decoration: none;
    color: initial;
}

.inline-link:hover {
    text-decoration: underline;
}

.results:hover {
    box-shadow: 1px 3px 4px #808080;
}

.results {
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    margin-right: 5px;
    position: relative;
    overflow: hidden;
    margin-top: 12px;
    border-radius: 3px;
}

.results img {
    width: 145px;
    height: 300px;
    display: block;
}

.info {
    width: 145px;
    height: 200px;
    display: inline-flex;
    flex-flow: column nowrap;
    position: absolute;
    background-color: #fff;
    bottom: -145px;
    left: 0px;
    padding: 7px;
}

#hover {
    display: none;
}

.info:hover,
#hover:checked~.info {
    bottom: -25px;
}

.info .title {
    margin-top: 5px;
    font-weight: bold;
    font-size: 0.9rem;
}

.info .date {
    margin-top: 5px;
}

.info .genre {
    margin-top: 5px;
}

.genre span {
    margin-top: 2px;
    padding: 2px;
    background-color: #1e90ff;
    color: #fff;
    border-radius: 2px;
}

.rating {
    margin-top: 5px;
    display: inline-flex;
    justify-content: space-evenly;
}

.home {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 15px;
}

.content {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 15px;
}

.content-title a {
    color: #656565;
}

.content-title a:hover,
.content-title a:active {
    color: #d35113;
}

.content-main {
    width: 100%;
    height: 335px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.content-wrap {
    width: 1520px;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
}

.detailed-info {
    font-size: 1.2rem;
}

@media screen and (min-width:700px) {
    .little-info {
        flex-flow: row nowrap;
    }
    .thriller {
        width: 50%;
    }
    .movie-info {
        width: 50%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        gap: 10px;
        grid-auto-rows: auto;
    }
    .movie-info h1 {
        /* margin: 10px 0px; */
        grid-column: 1/3;
    }
    .rating {
        grid-column: 1/2;
        grid-row: 2;
        margin: 0px 0px;
    }
    .ave {
        grid-row: 3;
        grid-column: 1/2;
    }
    .ge {
        grid-row: 3;
        grid-column: 2/3;
    }
    .main-info {
        flex-flow: row nowrap;
    }
    .detailed-info {
        width: 50%;
        font-size: 1.5rem;
    }
    .other-info {
        padding-left: 40px;
    }
}

@media screen and (min-width:1000px) {
    main {
        padding: 0.7rem 7.5rem;
    }
}