{% extends 'base.html'%} {%block title%}
<title>
    500 page
</title>
{% endblock %} {% block style %}
<link rel="stylesheet" href="{{url_for('static', filename = './error.css')}}"> {% endblock %} {% block content%}
<main>
    <h1>
        500 - Server Error
        <i style="color: #d35113;" class="far fa-frown"></i>
    </h1>
    <h2>
        Darn it! An error Ocurred. We are very sorry for this.
    </h2>
    <div class="goto">
        <a href="{{url_for('blog.recommend_home')}}">Homepage</a>
    </div>
</main>
{% endblock %}